.container{
    margin: 0px auto;
    background-color: white;
}
.submit :hover{
background-color: gray;
}
.HOME :hover{
    background-color: gray;
}
.contact me :hover{
    background-color: gray;
}
.experience :hover{
    background-color: gray;
}
.container{
    margin: 0px auto;
    background-color: white;
}